# SSHD Config File

# Port to listen on (default is 22, use a different port to avoid conflicts and improve security)
Port 2222

# Listen on all interfaces
ListenAddress 0.0.0.0

# Authentication:
LoginGraceTime 180
PermitRootLogin yes
StrictModes yes

# Permit empty passwords (no, for better security)
PermitEmptyPasswords no

# Password Authentication
PasswordAuthentication yes

# Allow users to start X11 sessions
X11Forwarding yes

Ciphers aes128-cbc,3des-cbc,aes256-cbc,aes128-ctr,aes192-ctr,aes256-ctr
MACs hmac-sha1,hmac-sha1-96

SyslogFacility DAEMON

Subsystem sftp internal-sftp